<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>GameStick activation: Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/activate.css"/>
    <link rel="icon" type="image/png" href="img/faviconnew.png"/>
  </head>
  <body>
    <img id="gslogo" src="img/logo_2.png" alt="GameStick" width="176" height="24"/>

    <div class="content">
      <h1>Success</h1>

      <ul id="progressbar">
        <li>Select
          language</li>
        <li>Setup
          screen</li>
        <li>Connect to
          the internet</li>
        <li>Update
          software</li>
        <li class="active">Activate
          GameStick</li>
      </ul>

      <p>PlayJam GameStick activation complete</p>

      <p>
        Your profile has been updated.
        You can continue with your GameStick setup.
      </p>
    </div>
  </body>
</html>
