* {
    box-sizing: border-box;
}
html {
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #fff;

    max-width: 960px;

    margin-left: auto;
    margin-right: auto;

    /*background: url(/img/web_background_24.png) no-repeat rgb(146,155,155);*/
    /* dark: #394443
       light: #7c8c8a
       pink: #f652c3
       progress:
        dark: #202222
        light: #dadada
   */
    /*background-size: 100%;*/
    background: radial-gradient(at 50% 100%, #7c8c8a, #394443);
}
div.content {
    max-width: 763px;
    margin-left: auto;
    margin-right: auto;
}

form.profile div.twocol {
    display: flex;
}
form.profile div.twocol > div {
    flex-basis: 0;
    flex-grow: 1;
}
form.profile div.twocol > div.left {
    min-width: 380px;
}
form.profile div.twocol > div.right {
    padding-left: 1em;
}

h1 {
    font-weight: normal;
    font-size: 24px;
}
.error {
    color: #F77;
}

#gslogo {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

ul#progressbar {
    display: flex;
    padding-left: 0px;
}
ul#progressbar li {
    font-size: 15px;
    background-color: #1e2020;
    color: #dadada;
    font-weight: bold;
    text-transform: uppercase;
    white-space: pre-line;

    display: block;
    flex-basis: 0;
    flex-grow: 1;

    text-align: center;
    padding-top: 16px;

    padding-bottom: 16px;

}
ul#progressbar li + li {
    border-left: 34px solid;
    border-image: url('../img/progress-i2i.svg');
    border-image-slice: 0 0 0 100%;
}
ul#progressbar li.active {
    background-color: #dadada;
    color: #4b504f;
    border-left: 30px solid;
    border-image: url('../img/progress-i2a.svg');
    border-image-slice: 0 0 0 100%;
}

p, form {
    text-align: center;
}
form.profile, form.profile p {
    text-align: left;
}

form.code {
    background-color: #f652c3;
    padding: 0.5rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    column-gap: 0.5rem;
}
form.code .code-input {
    width: 100%;
    padding: 0.5em;
    border: 0.2em solid #7d9387;
}
form.code button {
    background-color: #4b504f;
    color: white;
    border: 0.2em solid #7d9387;
    border: none;
}

form.profile .twocol p:first-child {
    margin-top: 0;
}
form.profile .profile-row {
    display: flex;
    margin-bottom: 0.2rem;
}
form.profile .profile-row > * {
    width: 50%;
}

form.profile .profile-row.minage > label {
    width: 70%;
}
form.profile .profile-row.minage > div {
    width: 30%;
    text-align: right;
}
form.profile .profile-row.minage > div label {
    display: block;
    margin-bottom: 0.5em;
    white-space: nowrap;
}
form.profile .profile-row.minage .tag {
    display: inline-block;
    width: 2.5em;
    padding: 0.1em;
    border: 1px solid white;
    border-radius: 0.5em;
    text-align: center;
    font-weight: bold;
}
.tag.teal {
    background-color: #00b29e;
    background: linear-gradient(165deg, white, #00b29e 50%, #00b29e);
}
.tag.orange {
    background-color: #dd780e;
    background: linear-gradient(165deg, white, #dd780e 50%, #dd780e);
}
.tag.red {
    background-color: #fc2841;
    background: linear-gradient(165deg, white, #fc2841 50%, #fc2841);
}

form.profile input[type="radio"] {
    accent-color: #f652c3;
    width: 1.2em;
    height: 1.2em;
}
form.profile input[type="text"] {
    border: none;
}
form.profile input:focus, form.profile button:focus {
    outline: 2px solid #f652c3;
}

form.profile button {
    margin-top: 2rem;
    background-color: #4b504f;
    color: white;
    padding: 0.5em 2em;
    font-weight: bold;
    width: 100%;
    border: none;
}

form.profile .avatarlabel {
    display: none;
}
form.profile .avatars {
    display: flex;
    flex-wrap: wrap;
    max-height: 400px;
    overflow: scroll;
    scrollbar-color: #f652c3 transparent;
}

form.profile .avatar {
    display: block;
}
form.profile .avatar input {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}
form.profile .avatar label {
    display: inline-block;
}
form.profile .avatar input + label {
    border: 4px solid transparent;
}
form.profile .avatar input:checked + label {
    border: 4px solid #f652c3;
}
form.profile .avatar input + label img {
    filter: grayscale(100%);
}
form.profile .avatar input + label img:hover {
    filter: none;
}
form.profile .avatar input:checked + label img {
    filter: none;
}

form.profile .intro-mobile {
    display: none;
}


@media (max-width: 820px) {
    body {
        margin-left: 5px;
        margin-right: 5px;
    }
    form.code {
        width: 100%;
        flex-direction: column;
    }
    ul#progressbar {
        display: none;
    }

    form.profile .intro-mobile {
        display: block;
    }
    form.profile .intro-desktop {
        display: none;
    }

    form.profile .avatarlabel {
        display: block;
    }
    form.profile .avatars {
        flex-wrap: nowrap;
        margin-bottom: 1rem;
    }
    form.profile .avatar {
        /* make space for scrollbar */
        margin-bottom: 0.5rem;
    }
    form.profile div.twocol {
        display: block;
    }
    form.profile div.twocol > div.right {
        padding-left: 0;
    }
    form.profile .profile-row.minage > div label {
        margin-right: 1rem;
    }
    form button {
        padding: 1rem;
    }
}

@media (min-height: 500px) {
    p, form.code {
        margin-top: 3rem;
    }
    p.error + form.code {
        margin-top: 1rem;
    }
    form.profile p.error {
        margin-top: 1rem;
        margin-bottom: 0;
    }
    form.profile ul.error {
        margin-top: 0;
    }
    p.intro-mobile {
        margin-top: 1rem;
    }
}
